<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item *ngIf="userIsConnected"
              (click)="navigationPage(homePage)">Home</button>
      <button ion-item *ngIf="!userIsConnected"
              (click)="navigationPage(loginPage)">Log In</button>
      <button ion-item *ngIf="userIsConnected"
              (click)="navigationlogOut()">Log Out</button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="loginPage" #content></ion-nav>
