page-log-in-page {

  .bg
  {
    background: teal;
  }
  .bg-img
  {
    background-color: white;
   /* background-image: url('../../assets/imgs/bg2.png');
    background-repeat: no-repeat;
    background-position: center;
    //background-size: contain;
    background-size: auto;
    //filter: blur(2px);*/
  }
  .item-bg-none
  {
    background: none;
  }

  .topSpace
  {
    margin-top: 5em;
  }

  .title {
    text-align: center;
    font-size: 2em
  }

}
